.texto-bienvenida {
    text-align: center;
}

.imagen-cartel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

body {
    color: white;
}

h1, h2, h3 {
    font-family: 'Titan One', 'Fredoka One', cursive;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.seccion-turquesa {
    background-color: #00af9a;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.seccion-naranja {
    background-color: #ff4d00;
}

.seccion-rosada {
    background-color: #e9bad4;
}

.cabecera-principal {
    background-color: #00af9a;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 30px;
}

.logo-header {
    width: 80px;
    height: auto;
}

.titulo-header {
    width: 380px;
    height: auto;
}

h2 {
    padding: 20px 20px 10px 20px;
}

p{
    padding: 10px 20px 20px 20px;
}

section {
    padding: 40px;
}