.texto-bienvenida {
    text-align: center;
}

.imagen-cartel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.seccion-turquesa {
    background-color: #00af9a;
}